.add-snippet {
    background: $color-primary;
    padding: $s-size $m-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-snippet__input {
    @include default-input;
    margin-right: $m-size;
    @include input-highlight($color-secondary);
}

.add-snippet__input:empty::before {
    content: attr(data-placeholder);
    pointer-events: none;
    display: block;
    color: $light-gray;
}

.add-snippet__shortcut {
    min-width: 10%;
    flex: 1 0 0;
}

.add-snippet__text {
    min-width: 20%;
    flex: 5 0 0;
}

.btn--add {
    font-size: 3rem !important;
}