.snippet-list {
    margin-bottom: $xl-size;

    @include media(phone) {
        margin-bottom: $m-size;
    }
}

.list-item {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size $s-size;
    text-decoration: none;
    transition: background .3s ease;

    &:hover {
        background: darken($off-white, 3%);
    }
}

.li__shortcut,
.li__text {
    color: $gray;
    display: inline-block;
    background: $white;
    padding: $xs-size $s-size;
    outline: none;

    // make team snippets non-selectable
    &:not([contenteditable=true]) {
        user-select: none;
    }

    &:not(:last-child) {
        margin-right: $m-size;
    }
}

.li__shortcut {
    min-width: 10%;
    flex: 1 0 0;
    transition: box-shadow .2s;

    &:focus {
        box-shadow: 0 0 .2rem .2rem $color-secondary;
    }
}

.li__text-wrapper {
    min-width: 20%;
    flex: 5 0 0;
    position: relative;
    padding: 0;
    transition: box-shadow .2s;

    &::after { // gradient
        content: '';
        position: absolute;
        bottom: .9rem;
        left: 0;
        background: linear-gradient(to bottom, transparent, white);
        height: 4rem;
        width: calc(100% - 1.7rem);
        pointer-events: none;
    }

    // add margin unless remove button is gone (team page)
    &:not(:last-child) {
        margin-right: $m-size;
    }
}

.li__text {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20rem;
    transition: max-height .2s;
    outline: none;
    width: 100%;
    transition: all .2s;
    padding-bottom: 2rem; // compensate for gradient

    &:focus {
        max-height: 50rem;
        box-shadow: 0 0 .2rem .2rem $color-secondary;
    }
}

.list-item__message {
    color: $gray;
    font-size: $font-size-lg;
    padding: $l-size;
    text-align: center;
    margin: 0 auto;
    background: $off-white;
}

.team-container {
    margin-bottom: $l-size;
}

.team-container__header {
    @extend .admin-section__header;
    border-bottom: 2px solid $white;
}

.team-container__message {
    @extend .list-item__message;
}