.add-team,
.add-member {
    padding: $ml-size 0;
}

.add-team__input-form {
    background: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size $m-size;
    width: 100%;
}

.add-member__input-form {
    @extend .add-team__input-form;
}

.add-member__team-name {
    font-size: $font-size-lg;
    color: $white;
}

.add-team__input {
    @include default-input;
    font-size: $font-size-md;
    color: $gray;
    background: $white;
    width: 50%;
    margin-right: $m-size;
    border: none;
    padding: $s-size;
    @include input-highlight($color-secondary);
}

.add-member__input {
    @extend .add-team__input;
    flex: 1;
    margin: 0 $m-size;
    border: none;
    @include input-highlight($color-secondary);
}